html {
  height: 100%;
  width: 100%;
}
.button{
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  }
.row{
  margin: 8px 0;
}
.row input{
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black
  border-radius: 5px;
}